
<div align=center>
<h1>Community Blog!<br> by Eddy Liaboh</h1>
</div>
<div align=center>
<p>
<%= link_to "Posts Now", posts_path %>
</p>
</div>

<div align=center>
<p>
Logo by Alex B.(@Des_alex)
</p>
</div>