<title>Community Blog</title>
<div align=center>

</div>
<div align=center>
<h1>Editing post</h1>
</div>
<div align=center>
<%= render 'form' %>
</div>
<div align=center>
<%= link_to 'Show', @post %> |
</div>
<div align=center>
<%= link_to 'Back', posts_path %>
</div>
<div align=center>
<p>
Logo by Alex B.(@Des_alex)
</p>
</div>